<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head.ejs", { title: "Error - Inventory Application" }) %>
    <body>
        <%- include("../components/header.ejs") %>
        <main>
            <div class="error-container">
                <section class="error">
                    <h1>
                        <%= error.statusCode %>:
                        <%= error.name %>
                    </h1>
                    <p><%= error.message %></p>
                </section>
            </div>
        </main>
        <%- include("../components/footer.ejs") %>
    </body>
</html>
