<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head.ejs") %>
    <body>
        <%- include("../components/header.ejs") %>
        <main>
            <div class="new-item-container">
                <section class="new-item">
                    <h1><%= heading %></h1>
                    <div>
                        <form action="/<%= action %>" method="POST">
                            <div>
                                <label for="item-name">Name</label>
                                <input id="item-name" type="text" name="name" placeholder="E.g., MacBook Pro" maxlength="32" value="<%= name %>" required>
                            </div>
                            <div>
                                <label for="item-description">Description</label>
                                <textarea name="description" id="item-description" placeholder="E.g., 8-Core CPU 10-Core GPU 16GB Unified Memory 1TB SSD Storage" maxlength="256" required><%= description %></textarea>
                            </div>
                            <div>
                                <label for="item-price">Price</label>
                                <input type="number" name="price" id="item-price" min="0" max="100000" step="0.01" placeholder="$" value="<%= price %>" required>
                            </div>
                            <div>
                                <label for="item-stock">Stock</label>
                                <input type="number" name="stock" id="item-stock" min="0" max="1000" value="<%= stock %>" required>
                            </div>
                            <div>
                                <label for="item-url">Image URL</label>
                                <input type="text" name="url" id="item-url" maxlength="128" value="<%= url %>">
                            </div>
                            <% if (password) { %>
                                 <div>
                                    <label for="item-password">Admin password</label>
                                    <input id="item-password" type="password" name="password" required>
                                </div>
                            <% } %>
                            <% if (errors) { %>
                                <ul class="errors">
                                    <% for( let i = 0; i < errors.length; i++ ) { %>
                                        <li><%= errors[i].msg %></li>
                                    <% } %>
                                </ul>
                            <% } %>
                            <button type="submit"><%= button %></button>
                        </form>
                    </div>
                </section>
            </div>
        </main>
        <%- include("../components/footer.ejs") %>
    </body>
</html>
