<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head.ejs", { title: "New category - Inventory Application" }) %>
    <body>
        <%- include("../components/header.ejs") %>
        <main>
            <div class="new-categories-container">
                <section class="new-category">
                    <h1>New category</h1>
                    <div>
                        <form action="/categories/new" method="POST">
                            <div>
                                <label for="category-name">Name</label>
                                <input id="category-name" type="text" name="name" placeholder="E.g., Laptops" maxlength="16" value="<%= errors ? errors[0].value : "" %>" required>
                            </div>
                            <% if (errors) { %>
                                <ul class="errors">
                                    <% for( let i = 0; i < errors.length; i++ ) { %>
                                        <li><%= errors[i].msg %></li>
                                    <% } %>
                                </ul>
                            <% } %>
                            <button type="submit">Add</button>
                        </form>
                    </div>
                </section>
            </div>
        </main>
        <%- include("../components/footer.ejs") %>
    </body>
</html>
